<a href="https://colab.research.google.com/github/shubh28012004/Different-ways-of-importing-database-using-Python/blob/main/DPL_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing database using different libraries

1. Manual Function - readline function returns the list that contains all the lines inside the file. comma is encountered split(,) function will be used .
2. Numpy - genfromtxt() is used
3. Pickel file - it saves the file in byte format
4. Pandas -  read_csv()

In [6]:
import numpy as np
import pandas as pd
import pickle

In [32]:
def load_csv(filepath):
  data=[]
  col=[]
  checkcol=False
  with open(filepath) as f:
    for val in f.readlines():
      val=val.replace("\n","")
      val=val.split(',')
      if checkcol is False:
        col=val
        checkcol=True
      else:
        data.append(val)
  df=pd.DataFrame(data=data,columns=col)
  return df
print(load_csv('/content/100 Sales Records.csv'))

                               Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub-Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub-Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub-Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub-Saharan Africa             Mozambique        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date Units Sold  \
0        Offline              H   5/28/2010  669165933   6/27/2010       9925
1         Online              C   8/22/2012  963881480   9/15/2012       2804
2        Offline              L    5/2/2014  341417157    5/8/2014       1779
3         Online              C   6/20/2014  514321792    7/5/2014       8102
4        Offline              L    2/1/2013  115456712    2/6/2013       5062
..           ...            ...         ...        ...         ...        ...
95        Online              M   7/26/2011  512878119    9/3/2011        888
96       Offline              L  11/11/2011  810711038  12/28/2011       6267
97       Offline              C    6/1/2016  728815257   6/29/2016       1485
98       Offline              M   7/30/2015  559427106    8/8/2015       5767
99       Offline              L   2/10/2012  665095412   2/15/2012       5367

   Unit Price Unit Cost Total Revenue  Total Cost Total Profit
0      255.28    159.42    2533654.00  1582243.50    951410.50
1      205.70    117.11     576782.80   328376.44    248406.36
2      651.21    524.96    1158502.59   933903.84    224598.75
3        9.33      6.92      75591.66    56065.84     19525.82
4      651.21    524.96    3296425.02  2657347.52    639077.50
..        ...       ...           ...         ...          ...
95     109.28     35.84      97040.64    31825.92     65214.72
96       9.33      6.92      58471.11    43367.64     15103.47
97     154.06     90.93     228779.10   135031.05     93748.05
98      81.73     56.67     471336.91   326815.89    144521.02
99     668.27    502.54    3586605.09  2697132.18    889472.91

[100 rows x 14 columns]

2. Numpy.genfromtxt()

In [ ]:
data = np.genfromtxt('/content/100 Sales Records.csv', delimiter = ",")

In [10]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,669165933.0,NaN,9925.0,255.28,159.42,2533654.00,1582243.50,951410.50
2,NaN,NaN,NaN,NaN,NaN,NaN,963881480.0,NaN,2804.0,205.70,117.11,576782.80,328376.44,248406.36
3,NaN,NaN,NaN,NaN,NaN,NaN,341417157.0,NaN,1779.0,651.21,524.96,1158502.59,933903.84,224598.75
4,NaN,NaN,NaN,NaN,NaN,NaN,514321792.0,NaN,8102.0,9.33,6.92,75591.66,56065.84,19525.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,NaN,NaN,NaN,NaN,NaN,512878119.0,NaN,888.0,109.28,35.84,97040.64,31825.92,65214.72
97,NaN,NaN,NaN,NaN,NaN,NaN,810711038.0,NaN,6267.0,9.33,6.92,58471.11,43367.64,15103.47
98,NaN,NaN,NaN,NaN,NaN,NaN,728815257.0,NaN,1485.0,154.06,90.93,228779.10,135031.05,93748.05
99,NaN,NaN,NaN,NaN,NaN,NaN,559427106.0,NaN,5767.0,81.73,56.67,471336.91,326815.89,144521.02
100,NaN,NaN,NaN,NaN,NaN,NaN,665095412.0,NaN,5367.0,668.27,502.54,3586605.09,2697132.18,889472.91

to convertnvert Nan into other datatypes

In [12]:
data = np.genfromtxt('/content/100 Sales Records.csv', delimiter = "," , dtype = None)

<ipython-input-12-e9d7c6c55d33>:1: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  data = np.genfromtxt('/content/100 Sales Records.csv', delimiter = "," , dtype = None)

In [13]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,b'Region',b'Country',b'Item Type',b'Sales Channel',b'Order Priority',b'Order Date',b'Order ID',b'Ship Date',b'Units Sold',b'Unit Price',b'Unit Cost',b'Total Revenue',b'Total Cost',b'Total Profit'
1,b'Australia and Oceania',b'Tuvalu',b'Baby Food',b'Offline',b'H',b'5/28/2010',b'669165933',b'6/27/2010',b'9925',b'255.28',b'159.42',b'2533654.00',b'1582243.50',b'951410.50'
2,b'Central America and the Caribbean',b'Grenada',b'Cereal',b'Online',b'C',b'8/22/2012',b'963881480',b'9/15/2012',b'2804',b'205.70',b'117.11',b'576782.80',b'328376.44',b'248406.36'
3,b'Europe',b'Russia',b'Office Supplies',b'Offline',b'L',b'5/2/2014',b'341417157',b'5/8/2014',b'1779',b'651.21',b'524.96',b'1158502.59',b'933903.84',b'224598.75'
4,b'Sub-Saharan Africa',b'Sao Tome and Principe',b'Fruits',b'Online',b'C',b'6/20/2014',b'514321792',b'7/5/2014',b'8102',b'9.33',b'6.92',b'75591.66',b'56065.84',b'19525.82'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,b'Sub-Saharan Africa',b'Mali',b'Clothes',b'Online',b'M',b'7/26/2011',b'512878119',b'9/3/2011',b'888',b'109.28',b'35.84',b'97040.64',b'31825.92',b'65214.72'
97,b'Asia',b'Malaysia',b'Fruits',b'Offline',b'L',b'11/11/2011',b'810711038',b'12/28/2011',b'6267',b'9.33',b'6.92',b'58471.11',b'43367.64',b'15103.47'
98,b'Sub-Saharan Africa',b'Sierra Leone',b'Vegetables',b'Offline',b'C',b'6/1/2016',b'728815257',b'6/29/2016',b'1485',b'154.06',b'90.93',b'228779.10',b'135031.05',b'93748.05'
99,b'North America',b'Mexico',b'Personal Care',b'Offline',b'M',b'7/30/2015',b'559427106',b'8/8/2015',b'5767',b'81.73',b'56.67',b'471336.91',b'326815.89',b'144521.02'
100,b'Sub-Saharan Africa',b'Mozambique',b'Household',b'Offline',b'L',b'2/10/2012',b'665095412',b'2/15/2012',b'5367',b'668.27',b'502.54',b'3586605.09',b'2697132.18',b'889472.91'

Removing b

In [14]:
data = np.genfromtxt('/content/100 Sales Records.csv', delimiter = "," , dtype = None , encoding="utf-8")

In [15]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
2,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
3,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
4,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
97,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
98,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
99,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
100,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [19]:
data = np.genfromtxt('/content/100 Sales Records.csv', delimiter = "," , dtype = None , encoding="utf-8", names=True)

In [20]:
pd.DataFrame(data)

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

Pandas library using read_csv function

In [22]:
df = pd.read_csv('/content/100 Sales Records.csv')
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

Pickle Library

In [23]:
with open('test.pkl','wb') as f:
  pickle.dump(df,f)

This will create a new file test.ppkl which has inside it out df from pandas heading

In [24]:
with open('test.pkl','rb') as f:
  df=pickle.load(f)
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50